<h1>Edit article</h1>


<%= render 'form'%>


<%= link_to 'Delete', article_path(@article.id), method: :delete, data: {confirm:"Are you sure?"} %> |
<%= link_to  "Return to Articles listing", articles_path %>
